.card {
    height: 23rem;
    display: grid;
}

.ideasList {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    gap: 2rem;
}

.navButton {
    background: none;
    border: none;
    font-size: 2em;
    cursor: pointer;
    margin: 0 20px;
    color: grey;
    transition: color 0.2s;
}

.navButton:hover {
    color: #000;
}

.buttons {
    position: absolute;
}

.actionButton {
    text-decoration: none;
    display: inline-block;
    padding: 10px 30px;
    margin: 10px 20px;
    position: relative;
    overflow: hidden;
    border: 2px solid #3F8EFC;
    border-radius: 8px;
    font-family: 'Montserrat', sans-serif;
    color: #3F8EFC;
    transition: .2s ease-in-out;
    font-size: 1.5rem;
    font-weight: bold;
}

.actionButton:before {
    content: "";
    background: linear-gradient(90deg, rgba(255, 255, 255, .1), rgba(255, 255, 255, .5));
    height: 50px;
    width: 50px;
    position: absolute;
    top: -8px;
    left: -75px;
    transform: skewX(-45deg);
}

.actionButton:hover {
    background: #3F8EFC;
    color: #fff;
}

.actionButton:hover:before {
    left: 150px;
    transition: .5s ease-in-out;
}