.card {
    height: 22rem;
    display: grid;
}

.ideasList {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    gap: 2rem;
}

.navButton {
    background: none;
    border: none;
    font-size: 2em;
    cursor: pointer;
    margin: 0 20px;
    color: #ccc;
    transition: color 0.2s;
}

.navButton:hover {
    color: #000;
}

.buttons {
    position: absolute;
}

.actionButton {
    padding: 10px 20px;
    margin: 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 1.7rem;

    &:hover {
        background-color: #0056b3;
    }
}