* {
  box-sizing: border-box;
}

html {
  font-family: Lato, sans-serif;
}

body {
  margin: 0;
  background-color: #ADD7F6;
  font-size: 20px;
}

body::-webkit-scrollbar {
  width: 12px;
}

body::-webkit-scrollbar-thumb {
  background-color: #888;
}

body::-webkit-scrollbar-thumb {
  border-radius: 6px;
}